body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
@media screen and (min-width:768px) {
    form input{
        width: 50% !important;
        margin: 0 auto;
    }
    form .mb-3{
        text-align: center;
    }
    form .form-check{
        width: 150px;
        text-align: center;
        margin: 0 auto;
    }
    #exampleCheck1{
        width: 15px !important;
    }
    
}